# Renomeie este arquivo para .env e preencha com seus dados reais

MP_ACCESS_TOKEN=APP_USR-seu-token-de-producao-aqui

GMOD_HOST=ip.do.seu.servidor
GMOD_PORT=27015
GMOD_RCON_PASSWORD=sua_senha_rcon_aqui

PORT=3000
